 *, *::before, *::after{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
  }

* {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  padding-top: 60px;
  padding-bottom: 40px;
  color: #3c5148;
}

/* Header -------------------------------------------------------*/

a, a:hover {
  text-decoration: none;
  font-weight: 600; }

.header, .footer {
    width: 100%;
    position: fixed;
}

nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 50px;
  background-color: #fff;
  box-shadow: 0 0px 9px 4px rgba(0, 0, 0, 0.1), 0 -5px 2px 2px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  min-width: 580px; 
  }
  
  nav .logo {
    position: relative;
    float: left;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    font-size: 22px;
    font-weight: 900;
    color: ;
    text-transform: uppercase; }
    nav .logo span {
      display: inline-block;
      position: relative;
      top: -8px;
      font-size: 13pt; }
    nav .logo:hover {
      color-background: ; }
    nav img {
        padding: 0 15px;
    }

nav .links {
    float: right;
    margin-right: 60px;
    position: relative; }
    nav ul .drop {
        background-color: #fff7e1;
    }
    nav .links li {
      float: left;
      position: relative;
      margin: 10px;
      display: inline-block; }
      nav .links li .dropdown {
          background-color: white;
      }
      nav .links li > a {
        position: relative;
        display: inline-block;
        padding: 0 10px;
        line-height: 30px;
        height: 30px; }
        nav .links li > a:hover {
          color: ;
          background: ;
          border-radius: 2px; }
        nav .links li > a[class^="trigger-"] {
          padding-right: 40px; }
      nav .links li ul {
        position: absolute;
        left: 0;
        margin: 0;
        background: "";
        border-radius: 2px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        display: none; }
        nav .links li ul > li {
          clear: both;
          list-style: none;
          display: block;
          padding: 0 10px;
          margin: 0;
          width: 100%; }
          nav .links li ul > li:hover {
              mepage
            background: ; }
            nav .links li ul > li:hover > a {
              background: ;
              color: ""; }
      nav .links li:hover > .drop {
        display: block;
        animation: fadeInRight .3s ease;
        -webkit-animation: fadeInRight .3s ease; }

@keyframes fadeInRight {
  0% {
    opacity: 0;iii
    transform: translate3d(100%, 0, 0); }
  100% {
    opacity: 1;
    transform: none; } }

/* Homepage ----------------------------------------------------------------------------- */

nav + .flex-container {
    padding-top: 100px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    padding: 17px;    
}

.col1 {
    width: 1%;
}

.col2 {
    width: 98%;
    padding-top: 90px;
}

.col3 {
    width: 1%;
}

#all_title.title {
    margin-left: 150px;
    font-weight: bold;
}

.all_list_font_size {
    width: 640px;
    font-size: 20px;
    text-align: center;
}

/* Search Page --------------------------------------------------------------------------- */

.formelements_search {
    display: flex;
    align-items: center;
    margin-left: 190px;
    margin-top: 300px;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin-left: 0;
    text-align: center;
}

li {
    text-align: center;
    margin-left: 0;
    height 40px;
    line-height: 40px;
}


input#add.add_form {
    margin-left: 350px;
}

input[type=text] {
    height: 40px;
    margin-right: 20px;
    background-image: url('static/search.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
    border-color: #3c5148;
    color: #3c5148;   
}

input#add_submit {
    margin-left: 160px;
}

input#bookmarks {
    width: 600px;
}

li {    
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
}

/* Add --------------------------------------------------------------------------------- */


.formelements_add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.add_form  {
    margin-top: 20px;
    margin-right: 30px;
}

input[type=submit] {
    width: 60px;
    height: 40px;
}

input[type=text] {
    /* margin-top: 20px; */
    width: 350px;
}

.form_add_submit {
    margin-top: 40px;
    margin-left: 330px;
}

.add_message {
    display: block;
    margin-top: 40px;
    margin-left: 300px;
}

/* Delete --------------------------------------------------------------------- */

.formelements_delete {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

h3#form_delete_submit.delete_message {
    margin-top: 100px;   
    margin-left: 400px;
}

/* Update Page ----------------------------------------------------------------- */

.formelements_update {
    margin-top: 100px;
    margin-left: 300px;
}

textarea {
    margin-top: 110px;
    margin-bottom: 70px;
    width: 450px;
    height: 200px;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #ebe9df;
    border-color: #3c5148;
    color: #3c5148;  
    resize: none;
}

select#columns {
    width: 450px;
    height: 40px; 
    margin-top: 60px;
    margin-right: 20px;
}

input#update {
    width: 450px;
    margin-right: 20px;
}

input.update_submit {
    margin-left: -270px;
}

.update_message {
    margin-top: 80px;
    margin-left: 410px;
}

/* Links ---------------------------------------------------------------------- */

/* unvisited link */
a:link {
  color: #8badaa;
}

/* visited link */
a:visited {
  color: #6c7755;
}

/* mouse over link */
a:hover {
  color: #c9b4a0;
}

/* selected link */
a:active {
  color: #845c3d;
}

/* Footer ------------------------------------------------------------------------------------ */

.footer {
	bottom: 0;
	text-align: center;
    color: #3c5148;
    background-color: #fff;
}


