*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: roboto, helvetica, arial, san-serif;
  color: #666;
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}

.hide {
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  width: 1px;
}

.accordion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
  width: 500px;
  border: 1px solid #e0e0e0;
}

footer {
   font-size: 0.5em;
}

.accordion-item {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
}
.accordion-item:last-child {
  border-bottom: none;
}

.accordion-label {
  padding: 20px 0 20px 30px;
  width: 100%;
  display: block;
  font-size: 18px;
}
.accordion-label:hover {
  cursor: pointer;
}
.accordion-label:before {
  content: "";
  position: absolute;
  height: 5px;
  width: 5px;
  top: 22px;
  left: 12px;
  display: inline-block;
  border-left: 5px solid #999;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}
input[type=checkbox]:checked ~ .accordion-label:before {
  transform: rotate(90deg);
}

.accordion-child {
  margin: 0;
  overflow: hidden;
  transition: all 0.3s ease;
  opacity: 0;
  height: 0;
  transform: scale(1, 0);
  transform-origin: center top;
}
input[type=checkbox]:checked ~ .accordion-child {
  border: 1px solid #e0e0e0;
  margin: 0 -20px 15px -20px;
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.16);
  padding: 30px;
  height: auto;
  opacity: 1;
  transform: scale(1, 1);
}

::placeholder {
    color: #9bb9ba;
    opacity: 0.5;
}

ul.accordion-child {
    background-color: #f4f4f4;
}
